<ng-template [ngIf]="chartOption" [ngIfElse]="nographic">
    <div echarts [options]="chartOption" class="employment-graphic1"></div>
</ng-template>

<ng-template #nographic>
    <p>Graphic loading...</p>
</ng-template>