<div class="container-fluid my-2">
    <h1 class="display-5 fw-bold">Dalaran</h1>
    <p class="fs-4">EII Technical Assessment by Alex Draper.</p>
</div>

<div class="container-fluid mb-4 d-inline-block" ngbDropdown #myDrop="ngbDropdown">
  <button class="btn btn-outline-primary mr-2"
    id="dropdownManual"
    ngbDropdownAnchor
    (focus)="myDrop.open()"
  >
  {{graphicName(this.displayingGraphic)}}
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual">
    <button ngbDropdownItem *ngFor="let graphic of graphics" (click)="changeGraphic($event)" [value]="graphic.id">
      {{graphic.name}}
    </button>
  </div>
</div>

<div *ngIf="this.displayingGraphic == 1" class="graphic">
  <app-graphic1></app-graphic1>
</div>

<div *ngIf="this.displayingGraphic == 2" class="graphic">
  <app-graphic2></app-graphic2>
</div>

<router-outlet></router-outlet>